%h1 Change password

.row
  = form_for(@user, url: { action: :update_password }) do |f|
    - if @user.errors.any?
      .alert.alert-danger
        %h2= "#{pluralize(@user.errors.count, 'error')} prohibited this user from being saved"
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message

    .col-md-12.form-group
      = f.label :current_password
      = f.password_field :current_password, class: 'form-control'
    .col-md-12.form-group
      = f.label :password
      = f.password_field :password, autocomplete: 'off', class: 'form-control'
    .col-md-12.form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
    .col-md-12.form-group
      = f.submit 'Submit', class: 'btn btn-info'
