= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f|

  .form-group
    .col-sm-offset-4.col-sm-4
      %h2.form-signing-heading Please log in

  .form-group
    = f.label :email, class: 'col-sm-4 control-label'
    .col-sm-4
      = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'

  .form-group
    = f.label :password, class: 'col-sm-4 control-label'
    .col-sm-4
      = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'

  - if devise_mapping.rememberable?
    .form-group
      .col-sm-offset-4.col-sm-4
        .checkbox
          %label
            = f.check_box :remember_me
            Remember me

  .form-group
    .col-sm-offset-4.col-sm-4
      = f.submit 'Log in', class: 'btn btn-primary btn-block'

  .form-group
    .col-sm-offset-4.col-sm-4
      - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
        = link_to 'Forgot your password?', new_password_path(resource_name)

      -# = render 'devise/shared/links'
