= form_for @role do |f|
  - if @role.errors.any?
    .alert.alert-danger
      %h2= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - @role.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :published
    = f.check_box :published
  .form-group
    = f.submit 'Save', class: 'btn btn-info'
