- content_for :title, 'Todos'

%h1 Listing todos
%hr

%table.table
  %thead
    %tr
      %th{ width: '10%' } #
      %th{ width: '15%' } Title
      %th{ width: '25%' } Description
      %th{ width: '10%' } Creator
      %th{ width: '10%' } Assigned to
      %th{ width: '5%' } Published
      %th{ width: '5%' }
      %th{ width: '5%' }
      %th{ width: '5%' }

  %tbody
    - @todos.each do |todo|
      %tr
        %td= todo.id
        %td= todo.title
        %td= todo.description
        %td= todo.creator.name
        %td= todo.assignee.name
        %td= todo.published
        %td= link_to 'Show', todo
        %td= link_to 'Edit', edit_todo_path(todo)
        %td= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to '+ New Todo', new_todo_path, class: 'btn btn-info'

