!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ http: { equiv: 'X-UA-Compatible' }, content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: 'description', content: 'Simple rails web starter application with devise authentication.' }
    %meta{ name: 'author', content: 'Md. Masud Rana' }
    %title= "RWS: #{yield(:title)}"
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    <!-- Fixed navbar -->
    %nav.navbar.navbar-default.navbar-fixed-top
      %div.container-fluid
        %div.navbar-header
          %button.navbar-toggle.collapsed{ type: 'button',
                                            data: { toggle: 'collapse', target: '#navbar' },
                                            aria: { expanded: 'false', controls: 'navbar' } }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: '/' } Rails web starter

        %div.navbar-collapse.collapse#navbar
          %ul.nav.navbar-nav
            %li{ class: controller_name.to_s == 'home' ? 'active' : '' }
              = link_to 'Dashboard', root_path
            %li{ class: controller_name.to_s == 'todos' ? 'active' : '' }
              = link_to 'TODOs', todos_path
            %li{ class: controller_name.to_s == 'users' ? 'active' : '' }
              = link_to 'Users', users_path
            %li{ class: controller_name.to_s == 'roles' ? 'active' : '' }
              = link_to 'Roles', roles_path

          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{ href: '#',
                                  data: { toggle: 'dropdown' },
                                  role: 'button',
                                  aria: { haspopup: 'true', expanded: 'false' } }
                Logged in as, #{current_user.email}
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'Profile', '#'
                %li= link_to 'Change password', change_password_users_path
                %li= link_to 'Settings', '#'
                %li.divider{ role: 'separator' }
                %li= link_to 'Sign out', destroy_user_session_path, method: :delete

          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{ href: '#',
                                  data: { toggle: 'dropdown' },
                                  role: 'button',
                                  aria: { haspopup: 'true', expanded: 'false' } }
                Notifications
                %span#notification-count= "(0)"
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'Assigned a todo', '#'
                %li.divider{ role: 'separator' }
                %li= link_to 'Hello world', '#'
                %li.divider{ role: 'separator' }
                %li= link_to 'Commented on a todo', '#'

    <!-- container -->
    %div.container-fluid
      - if notice
        .alert.alert-info.text-center= notice
      - elsif alert
        .alert.alert-danger.text-center= alert

      = yield

    <!-- footer -->
    %footer
      %p.text-center
        &copy; Copyright 2020

