<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= "RWS: Login" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Ruby on rails framework based web starter application.">
    <meta name="author" content="Md Masud Rana">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Rails web starter</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Sign In</a></li>
            </ul>
          </div>
        </div>
      </nav>

    </header>

    <div class="container-fluid">
      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>

      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>

    <main class="form-signin">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>

    <footer class="footer mt-auto py-3">
      <p class="text-center">&copy; Copyright 2019-2021</p>
    </footer>
  </body>
</html>
