!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ http: { equiv: 'X-UA-Compatible' }, content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: 'description', content: 'Simple rails web starter application with devise authentication.' }
    %meta{ name: 'author', content: 'Md. Masud Rana' }
    %title RWS: Login
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    <!-- container -->
    %div.container
      - if notice
        .alert.alert-info= notice
      - elsif alert
        .alert.alert-danger= alert

      = yield

    <!-- footer -->
    %footer
      %p.text-center
        &copy; Copyright 2019
